<h1>Ember Scaffold</h1>
<div class="row-fluid">
<div class="span6">
  <h2>Builder</h2>
  <div class="row-fluid .progress-tracker">
    {{#linkTo "ember_models" class="span2 progress-tracker-step progress-tracker-step_state_selected" }}
      <div class="progress-tracker-step__bullet">1</div>
      <div class="progress-tracker-step__line"></div>
      <div class="progress-tracker-step__text">Define your models</div>
    {{/linkTo}}
    {{#linkTo "resources" class="span2 progress-tracker-step" }}
      <div class="progress-tracker-step__bullet">2</div>
      <div class="progress-tracker-step__line"></div>
      <div class="progress-tracker-step__text">Define your resources</div>
    {{/linkTo}}
    <div class="span2 progress-tracker-step">
      <div class="progress-tracker-step__bullet">3</div>
      <div class="progress-tracker-step__line"></div>
      <div class="progress-tracker-step__text">Define your views</div>
    </div>
    <div class="span2 progress-tracker-step">
      <div class="progress-tracker-step__bullet">4</div>
      <div class="progress-tracker-step__line"></div>
      <div class="progress-tracker-step__text">Define your routes</div>
    </div>
    <div class="span2 progress-tracker-step">
      <div class="progress-tracker-step__bullet">5</div>
      <div class="progress-tracker-step__line"></div>
      <div class="progress-tracker-step__text">Define your test</div>
    </div>
    <div class="span2 progress-tracker-step">
      <div class="progress-tracker-step__bullet">6</div>
      <div class="progress-tracker-step__line"></div>
      <div class="progress-tracker-step__text">Define your test</div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 builder">
      {{outlet}}
    </div>
  </div>
</div>
<div class="span6">
  <h2>Code</h2>
  {{outlet code}}
</div>