html, body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: helvetica, arial;
}

.application {
  height: 100%;
}

#main {
  width: 50%;
  float: left;
}

#code {
  float: right;
  height: 100%;
  overflow: scroll;
  width: 50%;
}
