<ul class="items-list">
{{#each controller}}
  {{#unless isNew}}
    <li class="items-list__item">
      {{name}} 
      <button class="btn btn-danger" {{action remove this}}>Delete</button>
    </li>
  {{/unless}}
{{/each}}
</ul>
{{#linkTo "resources.new" class="btn btn-primary"}}
  <i class="icon-plus-sign icon-white"></i> Add
{{/linkTo}}