<ul class="items-list">
{{#each controller}}
  {{#unless isNew}}
    <li class="items-list__item">
      {{name}} 
      <i class="icon-remove items-list__btn" {{action remove this}}></i>
    </li>
  {{/unless}}
{{/each}}
</ul>
{{#linkTo "resources.new" class="btn btn-primary"}}
  <i class="icon-plus-sign icon-white"></i> Add
{{/linkTo}}