<form {{action submit this on="submit"}}>
  {{#if recordExists}}
    <div class="control-group">
      <span class="alert alert-error">This resources already exists</span>
    </div>
  {{/if}}
  <label>Name: </label>
  {{view Ember.TextField valueBinding="name" placeholder="ex: Posts"}}
  <div class="control-group">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>